body {
	color: #8e8e93;
	direction: ltr;
	overflow-x: hidden;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 0;
	margin: 0;
	background: #f7f7f8;
	-webkit-font-smoothing: antialiased !important;
	line-height: 1.42857143
}

.App {
    display: block;
    /*padding: 40px;*/
}

#app {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#app .app-content {
  height: 100%;
}
#app .app-content:before, #app .app-content:after {
  content: " ";
  display: table;
}
#app .app-content:after {
  clear: both;
}

.main {
	margin-left: 260px;
}

h1 {
    color: #69c;
}

h2 {
    color: #c96;
}

/* sidebar */
#sidebar {
	width: 260px;
	float: left;
	left: 0;
	bottom: 0;
	background: #f7f7f8;
	overflow: visible;
	z-index: 1051;
}
::selection {
	background: #5F8295;
	text-shadow: none;
	color: #ffffff;
}

/* navbar */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1089;
  border: none;
  margin-bottom: 0;
  height: 65px;
}

.navbar .navbar-header {
  z-index: 10;
  background: #ffffff;
  border-bottom: 1px solid #c8c7cc;
  position: relative;
  height: 65px;
}

.navbar .navbar-header a {
  line-height: 65px;
  height: 65px;
}
.navbar .navbar-header .navbar-brand {
  padding: 0 15px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #5b5b60;
  text-decoration: none;
  -webkit-font-smoothing: antialiased !important;
}
.navbar .navbar-header .navbar-brand img {
  display: inline-block;
  margin-top: -6px;
}
.navbar .navbar-collapse {
  height: 0px;
  border-bottom: 1px solid #c8c7cc;
  border-top: none;
  background: #ffffff !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  position: relative;
}


@media (min-width: 992px) {
	#sidebar {
		margin-top: 65px
	}	
	#sidebar:before {
		background-color: inherit;
		border: inherit;
		bottom: 0;
		content: "";
		position: absolute;
		top: 0;
		width: inherit;
		z-index: -1;
		border-right: 1px solid #c8c7cc
	}
	/** styling for app-aside:**/
	.app-aside div {
		-webkit-transform: translateZ(0);
	}
}

/* ---------------------------------------------------------------------- */
/*  Top Navbar
/* ---------------------------------------------------------------------- */

@media (min-width: 768px) {
  .navbar .navbar-header {
    /*width: 260px;*/
  }
}
@media (min-width: 992px) {
  .navbar .navbar-header {
    border-right: 1px solid #c8c7cc;
  }
}

/* ---------------------------------------------------------------------- */
/*  Main Content
/* ---------------------------------------------------------------------- */
.main-content {
  min-height: 100%;
  position: relative;
}
.main-content .container {
  max-width: none !important;
  width: 100% !important;
  display: inline-block;
}
.main-content > .container {
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .main-content {
    margin-top: 65px;
    margin-left: 260px;
  }
  .app-navbar-fixed .main-content {
    margin-top: 0;
  }
  .app-navbar-fixed .main-content:before, .app-navbar-fixed .main-content:after {
    content: " ";
    display: table;
  }
  .app-navbar-fixed .main-content:after {
    clear: both;
  }
  .app-sidebar-closed .main-content {
    margin-left: 70px;
  }
}
@media (max-width: 991px) {
  .main-content {
    padding-top: 65px;
  }
}


/* ---------------------------------------------------------------------- */
/*  Sidebar
/* ---------------------------------------------------------------------- */
#sidebar {
  width: 260px;
  float: left;
  left: 0;
  bottom: 0;
  background: #f7f7f8;
  overflow: visible;
  z-index: 1051;
}
#sidebar > div, #sidebar .sidebar-container {
  height: 100%;
}
.app-sidebar-fixed #sidebar > .sidebar-container {
  overflow-y: hidden;
  overflow-x: visible;
  position: relative;
}
.app-mobile #sidebar {
  overflow: auto;
}
#sidebar .wrapper {
  padding: 20px 15px;
}
.app-navbar-fixed.app-sidebar-fixed #sidebar {
  top: 0;
}
#sidebar nav {
  min-height: 100%;
}
@media (min-width: 992px) {
  #sidebar {
    margin-top: 65px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  #sidebar:before {
    background-color: inherit;
    border: inherit;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;
    border-right: 1px solid #c8c7cc;
  }
}
@media (min-width: 992px) {
  #sidebar nav {
    border-right: 1px solid #c8c7cc;
  }
  .app-navbar-fixed #sidebar {
    margin-top: 0;
  }
  .app-sidebar-fixed #sidebar {
    position: fixed;
    top: 65px !important;
    margin-top: 0;
  }
  .app-sidebar-fixed #sidebar > div {
    z-index: 1000;
  }
  .app-sidebar-closed #sidebar {
    width: 70px;
  }
}
@media (max-width: 991px) {
  #sidebar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 0;
    float: none;
    -webkit-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
    -moz-transition: -moz-transform 300ms ease 0s;
    -o-transition: -o-transform 300ms ease 0s;
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-delay: 0s;
    transition: transform 300ms ease 0s;
  }
  #sidebar > div {
    z-index: 1000;
  }
  .app-slide-off #sidebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: -moz-transform 300ms ease 0s;
    -o-transition: -o-transform 300ms ease 0s;
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-delay: 0s;
    transition: transform 300ms ease 0s;
  }
  #sidebar nav {
    border-right: none !important;
  }
  #sidebar > .sidebar-container {
    overflow-y: hidden;
    overflow-x: visible;
    position: relative;
  }
}